body {
    text-align: center;
    background-color: #f0f5f9;
    color: #1e2022;
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

h5 {
  font-family: 'Montserrat', sans-serif;
}

hr {
  border-style: dotted;
  background-color: #fff;
  width: 30%;
}

.container-fluid {
    padding:0;
    text-align: center;
}

/* Navigation Bar */
.logo {
  font-family: 'Lexend Tera', sans-serif;
}

.nav-item {
  padding: 0 20px;
}

#navigation-bar {
  padding: 2% 8.5% 0;
  font-size: .9rem;
  font-family: 'Raleway', sans-serif;
}
/* Introduction */
.banner {
  width:100%;
}

#introduction {
}

/* Merch */

#merch {
  padding: 0 10%;
}
/* Art Pieces */
.artpiece {
  width: 90%;
}

.artpiece-heading {
  font-size: 2rem;
}

.artpiece-item {
  padding: 0 10% 7%;
}

.artpiece-row {
  padding-bottom: 3%;
}

.artpiece-title {
  padding: 3% 10%;
  font-size: 3rem;
}

.artpiece-text {
  text-align: left;
  font-size: 1rem;
  line-height: 2;
}

#artpieces {
}

@media (max-width: 1028px) {
  .artpiece {
    float: none;
    text-align: center;
    display: block;
    margin: 0 auto 2%;
  }
  .artpiece-text {
    text-align: center;
  }
}
/* Seal Section */
.seal {
  width: 20%;
}

#seal-section {
  padding: 20% 10%;
}

/* Shop */
.merch {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#shop {
  text-align: left;
  padding: 0% 2% 10%;
}

/* Contact */
.icon {
  padding: 20px 10px;
}
#contact {
  text-align: center;
  padding: 2%;
}
