body {
    text-align: center;
}

p {
    padding-bottom: 10%;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-family: 'Quicksand', sans-serif;
}

.container-fluid {
    padding:0;
    text-align: center;
}

/* Navigation Bar */
.logo {
  font-family: 'Quicksand', sans-serif;
}

.nav-item {
  padding: 0 20px;
}
#navigation-bar {
  color: #1e2022;
  background-color: #f0f5f9;
  padding: 2% 8.5% 0;
  font-size: 1.2rem;
}
/* Introduction */
.dj {
  display: block;
  margin: 0 auto;
}

.welcome {
  font-size: 4.5rem;
  text-align: center;
}

#introduction {
  padding: 20% 10%;
  background-color: #f0f5f9;

}
/* Art Pieces */
.artpiece {
  width: 100%;
}

.artpiece-heading {
  font-size: 2rem;
}
.artpiece-row {
  padding-bottom: 3%;
}

.artpiece-title {
  padding-bottom:5%;
  font-size: 3rem;
}

.artpiece-text {
  text-align: left;
  font-size: 1rem;
  line-height: 2;
}


#artpieces {
  padding: 7% 10%;
  background-color: #1e2022;
  color: #c9d6df;
}

@media (max-width: 1028px) {
  .artpiece {
    float: none;
    text-align: center;
    display: block;
    margin: 0 auto 2%;
  }
  .artpiece-text {
    text-align: center;
  }

}
